
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid darkblue; */
}

html {
  font-size: 22px;
}

body {
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: papayawhip;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

/* .gridElement {
  display: block;
  height: 100px;
  width: 100px;
  background-color: lightgray;
  border-radius: 10%;
  
}

.scratchButton {
  position: relative;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  opacity: 0.0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.gridElement:hover .scratchButton {
  opacity: 1.0;
} */